.connsulta-entrada-main {
  display: flex;
  justify-content: center;
}
.consulta-entrada {
  width: 90%;
  height: 62rem;
  margin: 3rem auto;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--blanco);
  border: 0.1rem solid var(--color-botones);
  box-shadow: 0 0 1.2rem var(--color-sombras);
  position: relative;
  z-index: 1;
}

.consulta-entrada-h {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.consulta-entrada-titulo {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--color-bordes);
}
.consulta-entrada-avatar {
  width: 4rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-bordes);
  position: absolute;
}

.consulta-entrada-iconos {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.consulta-entrada-likes {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.consulta-entrada-comments {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.consulta-entrada-texto {
  display: flex;
  border: 2px solid var(--color-botones);
  margin: 1px;
  padding: 1px;
}

.form-comentarios {
  display: flex;
  flex-direction: column;
  font-size: small;
  align-items: center;
}
.consulta-comentarios {
  position: relative;
}
.caja-comentarios-desktop {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  position: absolute;
  bottom: -13rem;
  width: 100%;
  z-index: 3;
  margin-bottom: 1rem;
}
.caja-comentarios {
  height: 30rem;
  overflow: auto;
  margin-bottom: 1rem;
}
.caja-comentarios-desktop label{
  font-size: 1.8rem;
  margin: 2rem;
}
.consulta-comentarios ~ div .boton-simple {
  z-index: 5;
}
.comments {
  width: 100%;
  height: 5rem;
  margin: 1rem auto 0 auto;
  border: 1px solid var(--color-bordes);
}





.comentario {
  display: flex;
  width: 100%;
}

img.imagen-comentarios {
  float: left;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--color-bordes);
  margin: 1rem;
}

.caja-comentarios.ocultar-comentarios {
  display: none;
}

.consulta-comentarios-desktop {
  display: none;
}

.consulta-comentarios-desktop ~ div {
  display: none;
}

@media (min-width: 768px) {
  .consulta-entrada {
    height: 62rem;
  }

  .consulta-comentarios {
    display: none;
  }

  .consulta-comentarios ~ div {
    display: none;
  }
  .consulta-entrada-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
  }

  .consulta-comentarios-desktop {
    display: flex;
    flex-direction: column;
  }
  .consulta-comentarios-desktop .oculto-busqueda {
    display: block ;
    background-color: var(--color-botones);
    border: .2rem solid var(--color-bordes);
    width: 7rem;
    padding: .5rem .5rem;
    border-radius: 2rem;
    margin-top: -4.6rem;
    margin-left: 4rem;
    z-index: 4;
  }

  .consulta-comentarios-desktop ~ div {
    display: hidden;

  }

  .consulta-comentarios-desktop .comentarios {
    display: block;
    width: 40%;
    height: 35vh;
    position:initial;
    margin-top: 0;
  }

  .caja-comentarios.ocultar-comentarios {
    display: block;
    
  }
  .caja-comentarios-desktop{
    width: 95%;
    background-color: white;
    height: 62rem;
    border: 1px solid var(--color-botones);
    box-shadow: 0 0 1rem var(--color-sombras);
    position: initial;
    border-radius: 2rem;
    margin: 3rem auto 0 auto;
    padding: 2rem 1rem;
    z-index: 3;
  }
  .caja-comentarios {
    width: 100%;
    overflow: auto;
    height: 45rem;
    margin-bottom: 1rem;
    
  }
  .caja-comentarios::-webkit-scrollbar {
    background-color: transparent;
    width: .8rem;
    

  }
  .caja-comentarios::-webkit-scrollbar-thumb {
    background-color: var(--color-botones); /* Cambia el color del pulgar (la parte que puedes arrastrar) */
    border-radius: 2rem;
  }
  .caja-comentarios-desktop label{
    font-size: 2rem;
    margin: 2rem; 
  }
  .comments {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    border: 1px solid var(--color-bordes);
  }
  .comments:hover {
    box-shadow: 0 0 .5rem var(--color-botones);
  }
  
}
