.connsulta-entrada-main {
  display: flex;
  justify-content: center;
}
.consulta-entrada {
  width: 90%;
  height: auto;
  margin: 3rem auto;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--blanco);
  border: 0.1rem solid var(--color-botones);
  box-shadow: 0 0 1.2rem var(--color-sombras);
  position: relative;
  z-index: 1;
}

.consulta-entrada-h {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.consulta-entrada-titulo {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--color-bordes);
}
.consulta-entrada-avatar {
  width: 4rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-bordes);
  position: absolute;
}

.consulta-entrada-iconos {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.consulta-entrada-likes {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.consulta-entrada-comments {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.consulta-entrada-texto {
  display: flex;
  border: 2px solid var(--color-botones);
  margin: 1px;
  padding: 1px;
}

.form-comentarios {
  display: flex;
  flex-direction: column;
  font-size: small;
  align-items: center;
}

.comments {
  margin-bottom: 1rem;
  border-color: var(--color-bordes);
  padding: 1rem;
}

.comentarios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(fuente-principal);
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem 1rem var(--color-sombras);
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem 1rem 2rem 1rem;
  gap: 1rem;
  width: 100%;
  height: 35rem;
  overflow: auto;
  margin-top: -3rem;
  position: absolute;
  z-index: 3;
}

div.comentario {
  display: flex;
  width: 100%;
  border-bottom: 1rem var(--color-bordes);
}

img.imagen-comentarios {
  float: left;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--color-bordes);
  margin: 1rem;
}
.caja-comentarios {
  transition: opacity 0.2s linear;
  width: 100%;
  position: fixed;
  z-index: 3;
}
.caja-comentarios.ocultar-comentarios {
  display: none;
  transition: opacity 0.2s linear;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.consulta-comentarios-desktop {
  display: none;
}

.consulta-comentarios-desktop ~ div {
  display: none;
}

@media (min-width: 768px) {
  .consulta-entrada {
    width: 40%;
    margin: 5rem;
    float: right;
  }

  .consulta-comentarios {
    display: none;
  }

  .consulta-comentarios ~ div {
    display: none;
  }

  .consulta-comentarios-desktop {
    display: block;
  }

  .consulta-comentarios-desktop ~ div {
    display: block;
  }

  .consulta-comentarios-desktop .comentarios {
    display: block;
  }

  .caja-comentarios.ocultar-comentarios {
    display: block;
  }
}
