.header {
  display: flex;
  align-items: center;
  position: sticky;
  opacity: 1;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  justify-content: space-between;
  width: 100%;
  font-family: var(--fuente-titulos);
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 0.1rem solid var(--color-bordes-menus);
  box-shadow: 0 0 1.2rem var(--color-sombras);
  transition: opacity 0.2s linear;
}
.header.header-fix {
  opacity: 0;
  pointer-events: none;
}

.nav-menu {
  position: fixed;
  z-index: 5;
  height: 100vh;
  background-color: var(--blanco);
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem gray;
  padding: 0;
}

.li-link {
  margin: 5rem auto;
  font-size: 2rem;
  list-style: none;
  letter-spacing: 1.5px;
}

.link {
  text-decoration: none;
  color: var(--color-botones);
  font-family: var(--fuente-titulos);
  letter-spacing: 0px;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  color: var(--color-bordes);
  border: 0.2rem solid var(--color-bordes);
  padding: 0.2rem.8rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.3rem var(--color-botones);
}

.boton-menu .material-symbols-outlined {
  margin: 0;
  padding: 5px;
  font-size: 50px;
  color: var(--color-botones);
  border: 2px solid var(--color-bordes);
  border-radius: 100%;
}

.link:hover {
  text-shadow: 0 0 3rem var(--color-bordes);
  color: var(--color-bordes);
}

.link .material-symbols-outlined {
  font-size: 3rem;
  color: var(--color-link);
}

.bg-black {
  background-color: var(--color-bg-detras);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 4;
}
.nav {
  display: none;
}
.heading1 {
  color: var(--color-link);
}
.div-logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 10rem;
  filter: hue-rotate(45deg);
}
.logo {
  width: 0;
}
.imagen-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--color-bordes);
  object-fit: contain;
}
.botone-perfil {
  display: flex;
}
.no-overflow {
  overflow: hidden;
}
.boton-modo-noche {
  position: relative;
  width: 6rem;
  height: 2.1rem;
  background-color: whitesmoke;
  border: 1px solid var(--color-bordes);
  border-radius: 2rem;
  cursor: pointer;
}

.modo {
  width: 2rem;
  height: 2rem;
  background-color: #f9f10f;
  box-shadow: 0 0 1rem rgb(227, 163, 36);
  border: 1px solid black;
  border-radius: 50%;
  transition: margin-left 0.5s linear, background-color 0.5s linear,
    box-shadow 0.5s linear;
}
.modo-oscuro {
  margin-left: 2rem;
  background-color: rgb(170, 171, 208);
  box-shadow: 0 0 0.5rem rgb(145, 174, 228);
}

.boton-modos-noche {
  position: fixed;
  width: 6rem;
  height: 2.1rem;
  background-color: whitesmoke;
  border: 1px solid var(--color-bordes);
  border-radius: 2rem;
  cursor: pointer;
  z-index: 5;
  margin-left: 29%;
}

.modos {
  width: 2rem;
  height: 2rem;
  background-color: #d3e324;
  box-shadow: 0 0 1rem rgb(227, 163, 36);
  border: 1px solid black;
  border-radius: 50%;
  transition: margin-left 0.5s linear, background-color 0.5s linear,
    box-shadow 0.5s linear;
}
.modos-oscuros {
  margin-left: 3.9rem;
  background-color: rgb(170, 171, 208);
  box-shadow: 0 0 0.5rem rgb(145, 174, 228);
}

@media (min-width: 375px) {
  .logo {
    width: 6rem;
    margin-left: -1rem;
  }
  .heading1 {
    width: auto;
    font-size: 2.4rem;
  }
  .div-logo {
    gap: 0;
  }
  .boton-modos-noche {
    margin-left: 26%;
  }
}
@media (min-width: 425px) {
  .boton-modos-noche {
    margin-left: 24%;
  }
}
@media (min-width: 768px) {
  .heading1 {
    width: 20rem;
    font-size: 3rem;
    text-align: center;
  }
  .logo {
    margin-left: 0;
  }
  .boton-modos-noche {
    margin-left: 13%;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 2rem 2rem 2rem 2rem;
  }
  .header.header-fix {
    opacity: 1;
    pointer-events: all;
  }
  .boton-menu {
    display: none;
  }

  .nav {
    display: flex;
    width: 100%;
    flex-flow: row-reverse;
    margin-right: 8rem;
  }

  .nav-revert {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 0;
  }

  .link {
    color: var(--color-link);
    border: none;
    box-shadow: none;
  }
  .boton-modos-noche {
    display: none;
  }
  .modos {
    display: none;
  }
  .modos-oscuros {
    display: none;
  }
  .boton-modo-noche {
    margin-right: 2rem;
  }
}
@media (max-width: 769px) {
  .boton-modo-noche {
    display: none;
  }

  .modo {
    display: none;
  }
  .modo-oscuro {
    display: none;
  }
}
@media (min-width: 1440px) {
  .li-link {
    font-size: 2.7rem;
  }
  .modo-oscuro {
    margin-left: 2.5rem;
  }
}
@media (min-width: 1560px) {

  .modo-oscuro {
    margin-left: 2.8rem;
  }
}
