.main-listar-entradas {
  margin-top: 3rem;
}

.boton-busqueda {
  background-color: white;
  color: #b522e6;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 0.8rem var(--color-bordes);
  position: fixed;
  z-index: 3;
  bottom: 2rem;
  left: 2rem;
}

.boton-busqueda:hover {
  transition: box-shadow 0.3s ease;
  transform: scale(1.2);
}

.entrada-lista {
  width: 90%;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--blanco);
  border: 0.1rem solid var(--color-botones);
  box-shadow: 0 0 1.2rem var(--color-sombras);
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}
.entrada-lista header {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.entrada-lista header h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.entrada-heading {
  color: var(--color-bordes);
  text-decoration: none;
}
.entrada-heading:hover {
  text-shadow: 0 0 2rem var(--color-bordes);
}
.entrada-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-bordes);
  position: absolute;
}
.entrada-lista footer {
  display: flex;
  padding: 1rem 0 0 0;
  justify-content: space-around;
}
.entrada-lista footer div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.entrada-lista footer div p {
  font-size: 1.5rem;
  color: var(--color-bordes);
}
.corazon-phone,
.comentarios-phone {
  background-color: white;
  border: none;
  color: var(--color-bordes);
}
.corazon-phone:hover,
.comentarios-phone:hover {
  background-color: white;
  border: none;
  color: var(--color-bordes);
  text-shadow: 0 0 1rem var(--color-bordes);
  transform: scale(1.2);
  cursor: pointer;
}
.corazon-phone.votado .material-symbols-outlined {
  animation: votar 0.5s linear forwards;
}
.div-caja-resultado {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.div-sin-resultado {
  padding: 3rem;
  background-color: white;
  max-width: 40rem;
  margin: 20rem auto;
  border-radius: 2rem;
  border: 1px solid var(--color-bordes);
  box-shadow: 0 0 2rem var(--color-sombras);
}
.div-sin-resultado p {
  font-size: 1.8rem;
}

@keyframes votar {
  0% {
    font-variation-settings: "FILL" 0;
    color: white;
  }
  15% {
    transform: translateX(0.2rem);
    color: var(--color-bordes);
    font-variation-settings: "FILL" 1;
  }
  30% {
    transform: translateX(0.2rem) translateY(0.2rem);
  }
  45% {
    transform: translateX(-0.2rem);
  }
  60% {
    transform: translateX(0.2rem) translateY(-0.2rem);
  }
  75% {
    transform: translateX(-0.2rem);
  }
  100% {
    color: var(--color-bordes);
    font-variation-settings: "FILL" 1;
  }
}
.div-form-busqueda {
  transition: opacity .2s linear;
  width: 100%;
  position: fixed;
  z-index: 3;
}
.div-form-busqueda.display {
  opacity: 0;
  pointer-events: none;
}
.form-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(fuente-principal);
  border-radius: 0 0 2rem 2rem;
  box-shadow: .3rem .3rem .8rem var(--color-sombras);
  background-color: white;
  font-size: 1.3rem;
  padding: 2rem 1rem 2rem 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: -3rem;
}

.div-form-busqueda .input {
  max-width: 6rem;
}
.div-form-busqueda .boton-simple {
  display: none;
}
.div-form-busqueda .oculto-busqueda {
  display: block;
  border-radius: 2rem;
  font-family: var(--fuente-principal);
  padding: 0.3rem 0.8rem;
  background-color: var(--color-botones);
  border: 0.2rem solid var(--color-bordes);
  box-shadow: 0.5rem 0.5rem 1rem var(--color-sombras);
  color: black;
  cursor: pointer;
}
.div-form-busqueda .oculto-busqueda:hover {
  background-color: var(--color-botones-hover);
  box-shadow: 0 0 0.8rem var(--color-bordes);
}

.div-radio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.div-radio input,label{
  cursor: pointer;
}
.oculto {
  opacity: 0;
  pointer-events: none;
}
.select-busqueda {
  border: .1rem solid var(--color-bordes);
}
.select-busqueda:hover {
  box-shadow: 0 0 .3rem var(--color-bordes);
}

@media (min-width: 425px) {
  .entrada-lista {
    width: 80%;
  }
  .form-busqueda {
    font-size: 1.4rem;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .div-form-busqueda .div-sub-loader{
    margin-left: 22rem;
  }
  .entrada-lista {
    width: 45%;
  }
  .form-busqueda {
    font-size: 1.7rem;
  }
  .div-sin-resultado p {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .boton-busqueda {
    display: none;
  }
  .entrada-lista {
    margin-left: 35%;
    width: min(50%, 80rem);
    /* height: 40rem; */
  }
  .container {
    height: 40rem;
  }
  .entrada-lista header {
    padding: 1.5rem 0;
  }
  .entrada-lista footer {
    padding: 1.5rem 0;
  }
  .div-form-busqueda {
    display: flex;
    width: auto;
    z-index: 5;
  }
  .form-busqueda {
    flex-direction: column;
    height: 100vh;
    gap: 3rem;
    justify-content: start;
    padding: 3rem 5rem 0 5rem;
    font-size: 2rem;
    border-right: 1px solid var(--color-bordes-menu);
  }
  .div-radio {
    flex-direction: column;
    text-align: center;
  }
  .div-form-busqueda.display {
    opacity: 1;
    pointer-events: all;
  }
  .oculto {
    opacity: 1;
    pointer-events: all;
  }
  .div-form-busqueda .oculto-busqueda {
    font-size: 2rem;
    padding: .5rem 2rem;
  }
  .div-form-busqueda .input {
    max-width: 12rem;
  }
  .div-sin-resultado {
    margin-left: 45%;
  }
  .div-sin-resultado p {
    font-size: 2.8rem;
  }
}

