.boton-busqueda {
  background-color: white;
  color: #b522e6;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 0.8rem var(--color-bordes);
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  left: 2rem;
}

.boton-busqueda:hover {
  transition: box-shadow 0.3s ease;
  transform: scale(1.2);
}

.entrada-lista {
  width: 90%;
  margin: 3rem auto;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--blanco);
  border: 0.1rem solid var(--color-botones);
  box-shadow: 0 0 1.2rem var(--color-sombras);
  position: relative;
  z-index: 1;
}
.entrada-lista header {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.entrada-lista header h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--color-bordes);
}
.entrada-avatar {
  width: 4rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-bordes);
  position: absolute;
}
.entrada-lista footer {
  display: flex;
  padding: 1rem 0 0 0;
  justify-content: space-around;
}
.entrada-lista footer div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.entrada-lista footer div p {
  font-size: 1.5rem;
  color: var(--color-bordes);
}
.corazon-phone,
.comentarios-phone {
  background-color: white;
  border: none;
  color: var(--color-bordes);
}
.corazon-phone:hover,
.comentarios-phone:hover {
  background-color: white;
  border: none;
  color: var(--color-bordes);
  text-shadow: 0 0 1rem var(--color-bordes);
  transform: scale(1.2);
  cursor: pointer;
}
.corazon-phone.votado .material-symbols-outlined {
  animation: votar 0.5s linear forwards;
}

@keyframes votar {
  0% {
    font-variation-settings: "FILL" 0;
    color: white;
  }
  15% {
    transform: translateX(0.2rem);
    color: var(--color-bordes);
    font-variation-settings: "FILL" 1;
  }
  30% {
    transform: translateX(0.2rem) translateY(0.2rem);
  }
  45% {
    transform: translateX(-0.2rem);
  }
  60% {
    transform: translateX(0.2rem) translateY(-0.2rem);
  }
  75% {
    transform: translateX(-0.2rem);
  }
  100% {
    color: var(--color-bordes);
    font-variation-settings: "FILL" 1;
  }
}
.div-form-busqueda {
  margin-top: -3rem;
}
.form-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(fuente-principal);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 1rem 1rem 1rem var(--color-sombras);
  z-index: 3;
  background-color: white;
  font-size: 1rem;
  padding: 2rem 0 2rem 0;
  flex-wrap: wrap;
  gap: 2rem;
  position: fixed;
  width: 100%;
}
.div-form-busqueda .input {
  max-width: 6rem;
}
.div-form-busqueda .boton-simple {
  display: none;
}
.div-form-busqueda .oculto-busqueda {
  display: block;
  border-radius: 2rem;
  font-family: var(--fuente-principal);
  padding: .3rem .8rem;
  background-color: var(--color-botones);
  border: .2rem solid var(--color-bordes);
  box-shadow: .5rem .5rem 1rem var(--color-sombras);
  color: black;
}

.div-radio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media (min-width: 425px) {
  .entrada-lista {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .entrada-lista {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .entrada-lista {
    width: 50%;
    /* height: 40rem; */
  }
  .container {
    height: 40rem;
  }
  .entrada-lista header {
    padding: 1.5rem 0;
  }
  .entrada-lista footer {
    padding: 1.5rem 0;
  }
}
