:root {
  --fuente-titulos: "Pacifico", sans-serif;
  --fuente-principal: "Satisfy", cursive;
  --fuente-comentarios: "Caveat", cursive;
  --color-bordes: #d622e6;
  --color-botones: #d68bca;
  --color-botones-hover: #fb73e5;
  --color-sombras: #a3a3a3;
  --blanco: #fff;
  --negro: #212121;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: var(--fuente-principal);
}

.main {
  padding: 2rem 5rem 2rem 5rem;
}

.botone-perfil {
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}
.imagen-avatar {
  width: 60px;
  border-radius: 100%;
}
