:root {
  --fuente-titulos: "Pacifico", sans-serif;
  --fuente-principal: "Satisfy", cursive;
  --fuente-comentarios: "Caveat", cursive;
  --color-link: #b522e6;
  --color-bordes: #d622e6;
  --color-botones: #d68bca;
  --color-botones-hover: #fb73e5;
  --color-sombras: #a3a3a3;
  --color-bg-detras: #00000093;
  --blanco: #fff;
  --negro: #212121;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: var(--fuente-principal);
  overflow-x: hidden;
  margin-bottom: 5rem;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.main {
  padding: 2rem 5rem 2rem 5rem;
}

.vuelo,
.vuelo2,
.vuelo3,
.vuelo4 {
  position: absolute;
  z-index: 0;
  color: rgba(249, 83, 255, 0);
}
.vuelo {
  bottom: 1rem;
  left: 15rem;
  transform: rotate(45deg);
  animation: volar 5s ease-in 2s infinite;
}
.vuelo2 {
  bottom: 1rem;
  right: 1rem;
  transform: rotate(-15deg);
  animation: volar2 3s ease-in infinite;
}
.vuelo3 {
  bottom: 45rem;
  left: 1rem;
  transform: rotate(100deg);
  animation: volar3 6s ease-in 1s infinite;
}
.vuelo4 {
  bottom: 55rem;
  right: 1rem;
  transform: rotate(250deg);
  animation: volar4 5s ease-in 3s infinite;
}

@keyframes volar {
  0% {
    color: rgba(249, 83, 255, 0);
  }
  30% {
    color: rgba(249, 83, 255, 0.514);
  }
  70% {
    color: rgba(249, 83, 255, 0.514);
  }
  100% {
    color: rgba(249, 83, 255, 0);
    transform: translate(40vw, -40vw) rotate(45deg);
  }
}
@keyframes volar2 {
  0% {
    color: rgba(249, 83, 255, 0);
  }
  30% {
    color: rgba(249, 83, 255, 0.514);
  }
  70% {
    color: rgba(249, 83, 255, 0.514);
  }
  100% {
    color: rgba(249, 83, 255, 0);
    transform: translate(-20vw, -80vw) rotate(-15deg);
  }
}
@keyframes volar3 {
  0% {
    color: rgba(249, 83, 255, 0);
  }
  30% {
    color: rgba(249, 83, 255, 0.514);
  }
  70% {
    color: rgba(249, 83, 255, 0.514);
  }
  100% {
    color: rgba(249, 83, 255, 0);
    transform: translate(50vw, 10vw) rotate(100deg);
  }
}
@keyframes volar4 {
  0% {
    color: rgba(249, 83, 255, 0);
  }
  30% {
    color: rgba(249, 83, 255, 0.514);
  }
  70% {
    color: rgba(249, 83, 255, 0.514);
  }
  100% {
    color: rgba(249, 83, 255, 0);
    transform: translate(-80vw, 20vw) rotate(250deg);
  }
}
@media (min-width: 768px) {
  .vuelo {
    animation-duration: 10s;
    animation-delay: 4s;
  }
  .vuelo2 {
    animation-duration: 12s;
  }
  .vuelo3 {
    animation-duration: 12s;
    animation-delay: 6s;
  }
  .vuelo4 {
    animation-duration: 10s;
    animation-delay: 2s;
  }
}

.error-form {
  color: red;
  font-size: 1.5rem;
}