.h1-404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: rgb(163, 14, 14);
  font-family: cursive;
}

p {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(163, 14, 14);
  font-family: cursive;
}
.page-div {
  border: 3px solid rgb(163, 14, 14);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: moccasin;
  max-width: 400px;
  margin: 0 auto;
  min-width: 200px;
  position: relative;
  z-index: 1;
}

.page-main {
  padding: 150px 20px;
  background-color: darkslategray;
}
