.h1-404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: rgb(11, 3, 3);
  font-family: cursive;
}

.pagina-no-encontrada {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
}
.page-div {
  border: 3px solid div(--color-botones);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #a761ae;
  max-width: 400px;
  margin: 0 auto;
  min-width: 200px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.page-main {
  padding: 150px 20px;
}
