.main-perfil {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
.contenedor-perfil {
  width: min(90%, 60rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--color-sombras);
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.img-perfil {
  border: 0.2rem solid var(--color-bordes);
  border-radius: 50%;
  object-fit: cover;
  width: 10.4rem;
  height: 10.4rem;
  margin-top: -7rem;
  box-shadow: 0 0 1rem var(--color-sombras);
}
.perfil-heading {
  font-size: 1.8rem;
}
.perfil-datos {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-bordes);
  display: flex;
}
.perfil-texto {
  font-weight: 400;
  margin-left: 1rem;
  color: black;
  display: block;
}

.perfil-editar {
  color: var(--color-botones);
  font-size: 1.8rem;
  position: absolute;
  right: 4rem;
  display: flex;
  text-decoration-line: none;
}
.perfil-editar:hover {
  text-shadow: 0 0 1rem var(--color-botones);
  transform: scale(1.2);
}
.perfil-boton {
  text-decoration: none;
}
.papelera {
  color: gray;
  cursor: pointer;
}

.main-perfil .toast-fix {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-perfil .toast-fix .toast-div {
  width: 30rem;
}
.main-perfil .div-sin-resultado {
  margin: 10rem auto;
  width: min(90%, 40rem);
}
@media (min-width: 768px) {
  .main-perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  
  .contenedor-perfil {
    margin: 0 3rem;
    width: 33rem;
    height: 60rem;
    position: fixed;
    gap: 3rem;
  }
  .perfil-heading {
    font-size: 2.5rem;
  }
  .perfil-datos {
    font-size: 2rem;
  }
  .main-perfil .entrada-lista {
    margin: 0 auto 3rem auto;
    width: min(90%, 60rem);
  }
}

@media (min-width: 1024px) {
  .main-perfil {
    grid-template-columns: 45% 55%;
  }
  .papelera {
    margin-right: 1rem;
  }
  .contenedor-perfil {
    width: 40rem;
  }
  .perfil-heading {
    font-size: 2.5rem;
  }
  .perfil-datos {
    font-size: 2.5rem;
  }
}
@media (min-width: 1440px) {
  .main-perfil .sup-contenedor-perfil {
    margin: 0 auto;
    display: flex;
    place-content: center;
  }
  .contenedor-perfil {
    width: 50rem;
  }
  .main-perfil .entrada-lista {
    margin: 0 auto 3rem auto;
    width: min(70%, 80rem);
  }
  .perfil-heading {
    font-size: 2.5rem;
  }
  .perfil-datos {
    font-size: 2.5rem;
  }
}
