.boton-simple {
  background-color: var(--color-botones);
  border: 0.2rem solid var(--color-bordes);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  font-family: var(--fuente-principal);
  box-shadow: 0 0.3rem 0.5rem var(--color-sombras);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.boton-simple:hover {
  background-color: var(--color-botones-hover);
  box-shadow: 0 0 0.8rem var(--color-bordes);
}

.input {
  border: 0.15rem solid var(--color-bordes);
  outline: 0;
  border-radius: 0.5rem;
}

.input:focus,
.input:hover {
  box-shadow: 0 0 0.3rem var(--color-bordes);
}

.hidden {
  display: none;
}

.prueba {
  background-color: var(--negro);
  width: 50px;
}

.toast-fix {
  position: fixed;
  z-index: 3;
  width: 30rem;
  height: auto;
  text-align: center;
}

.toast-div {
  position: relative;
  background-color: var(--blanco);
  border: .3rem solid var(--color-botones);
  border-radius: 2rem;
  box-shadow: 0 0 3rem var(--negro);
  padding: 2rem;
}
.toast-div.error {
  border: .3rem solid rgb(248, 0, 87);
}

.toast-titulo {
  font-size: 2.3rem;
  font-family: var(--fuente-titulos);
}

.toast {
  font-size: 2.5rem;
  overflow: hidden;   
  text-overflow: ellipsis;
}

.toast-barra {
  position: absolute;
  bottom: 0;
  width: 84%;
  height: .5rem;
  background-color: var(--color-sombras);
  animation: time linear;
}

@keyframes time {
  0% {
    width: 0%;
  }
  100% {
    width: 84%;
  }
}
.slider {
  position: relative;
}
.container {
  display: flex;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
  border-radius: 2rem;
}
.container::-webkit-scrollbar{
  display: none;
}

.foto {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
  object-fit: contain;
  margin: 0 .2rem;
}

.puntos {
  display: flex;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  gap: .5rem;
  justify-content: center;
}

.punto {
  background-color: white;
  border: 1px solid var(--color-bordes);
  height: 1.3rem;
  width: .5rem;
  border-radius: 50%;
}

.mark {
  background-color: var(--color-botones);
  border-color: white;
}